body {
	background-color: #e7e7e7;
}

.card-body {
	background-color: orange;
	margin: 0;
	/* padding: 0; */
	border: none;
}

.nav-link:hover {
	color: orange !important;
	background-color: #EDEDED !important;
	text-shadow: 1px 1px 1px gray;
}

.active {
	color: orange !important;
	background-color: #EDEDED !important;
	text-shadow: 1px 1px 1px gray;
}

.nav-link-right:hover {
	color: orange !important;
	background-color: #f8f9fa !important;
	text-shadow: 1px 1px 3px gray;
}

.card {
	border: 3px solid #EDEDED;
}

.card:hover {
	border: 3px solid orange;
	cursor: pointer;
	box-shadow: 0px 0px 15px gray;
}

.image-wrapper {
	height: 180px;
}

.list-group-item-pasive {
	background-color: #F8F9FA;
	color: black;
	border: none;
	padding: 5px 0;
	font-weight: normal;
}

.list-group-item-active {
	background-color: #F8F9FA;
	color: orange;
	border: none;
	padding: 5px 0;
	font-weight: bold;
	cursor: pointer;
	text-shadow: 1px 1px 2px gray;
}

.badge-custom-pasive {
	background-color: #d3d3d3;
	color: #5c5c5c;
}

/*use background-color: #d3d3d3; color: #5c5c5c; for the badges*/

.badge-custom-active {
	background-color: orange;
	/* color: #7C7C7D; */
	color: white;
	box-shadow: 1px 1px 2px gray;
}

.social-icon {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 5px;
	height: 45px;
	width: 45px;
	background-color: orange;
	color: white;
}

.social-icon:hover {
	background-color: grey;
	color: white;
	box-shadow: 2px 2px 3px gray;
	text-shadow: 1px 1px 2px black;

}

.footer-link {
	color: black;
}

.footer-link:hover {
	color: orange;
}


/* .list-group-item:hover {
	color: orange;
} */

/*use color:orange for the orange color*/
/*use background-color: #d3d3d3; color: #5c5c5c; for the badges*/
/*use color:grey for the social-share icons on hover*/