body {
	background-color: #e7e7e7;
}

.card-body {
	background-color: #FFA500;
	margin: 0;
	/* padding: 0; */
	border: none;
}

.nav-link:hover {
	color: #FFA500 !important;
	background-color: #EDEDED !important;
}

.active {
	color: #FFA500 !important;
	background-color: #EDEDED !important;
}

.card {
	border: 3px solid #EDEDED;
}

.card:hover {
	border: 3px solid #FFA500;
}

.image-wrapper {
	height: 180px;
}

.list-group-item-pasive {
	background-color: #F8F9FA;
	color: black;
	border: none;
	padding: 5px 0;
	font-weight: normal;
}

.list-group-item-active {
	background-color: #F8F9FA;
	color: #FFA500;
	border: none;
	padding: 5px 0;
	font-weight: bold;
	cursor: pointer;
}

.badge-custom-pasive {
	background-color: #EDEDED;
	color: #7C7C7D;
}



.badge-custom-active {
	background-color: #FFA500;
	/* color: #7C7C7D; */
	color: white;
}

.social-icon {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 5px;
	height: 45px;
	width: 45px;
	background-color: #FFA500;
	color: white;
}

.social-icon:hover {
	background-color: white;
	color:#FFA500;
}

.footer-link {
	color: black;
}

.footer-link:hover {
	color: #FFA500;
}


/* .list-group-item:hover {
	color: #FFA500;
} */

/*use color:orange for the orange color*/
/*use background-color: #d3d3d3; color: #5c5c5c; for the badges*/
/*use color:grey for the social-share icons on hover*/