/* custom css */

.home-bg-image {
    background-image: url(./Images/home.jpg);
}

.height-100vh {
    height: 100vh;
}

.bg-custom {
    background-color: #4900D5;
}

.img-w-100 {
    width: 100%;
}

.bg-icon-size-and-position {
    position: absolute;
    left: -2.84285714em;
    top: .64285714em;
    height: 1.3em;
    width: 1.3em;   
}