/* style.css */

.text-shadow {
    text-shadow: 3px 3px 3px black;
}

.nav-link:hover {
    background-color: grey;
}

.index-background {
    background-image: url(./img/background-index.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

label {
    font-weight: bold;
}